.analysis-container {
    height: 100%;
    .analysis-sider {
        background: white;
        height: 100%;
        padding-right: 16px;
        .part_btns {
            display: flex;
            justify-content: space-between;
        }
        .part_opt {
            height: calc(100% - 0px);
            overflow: auto;
            .part_1 {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
            }
            .part_2 {
                max-height: 30%;
                overflow: auto;
            }
        }
    }
    .ant-spin-nested-loading {
        height: calc(100% - 22px);
        .ant-spin-container {
            height: 100%;
        }
    }
}
